.header {
  @include flex-center(column);
  border-bottom: 1px solid $gray-light;
  width: 100%;

  .resume-hello {
    @include bold-and-size-me(1.5rem);
  }

  .resume-description {
    @include bold-and-size-me(1.3rem);
  }
}

.header-img {
  margin-top: -80px;
  width: $image-size;
  height: $image-size;
  border-radius: 50px;
}
