// TODO feedback: 建议按照内容结构划分去提取样式到不同的文件，如_educations.scss, _userInfo.scss
.main-content {
}

.education-experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    .education {
      flex-basis: 90%;
      background-color: $gray-light;
      padding: 5px 10px;
    }
  }
}

.education-title {
  font-weight: bold;
}

h2 {
  color: $primary-color;
}
