.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    margin: 100px 100px;
    padding: 40px 20px;

    h2 {
        color: $primary-color;
    }
}
